<div class="card mt-4">
  <div class="card-header">
			<h1 id="output"></h1>
  </div>
  <div class="card-body">
    <p class="card-text">
      <textarea name="" id="input_text" cols="30" rows="10">No one in the brief history of computing has ever written a piece of perfect software. It's unlikely that you'll be
        the first,If you have come this far, it means that you liked what you are reading. Why not reach little more and
        connect with me directly on Google Plus, Facebook or Twitter. I would love to hear your thoughts and opinions on
        my articles directly.
      </textarea>
    </p>
    <div class="target mono" id="target"></div>
  </div>

</div>

<!-- /.card -->

<div class="card card-outline-secondary my-4">
  <div class="card-header">
    type above text to check your typing speed
  </div>
  <div class="card-body">
   
    <div id="your-attempt" class="mono your-attempt" placeholder="Your text will appear here"></div>
  </div>
</div>
<!-- /.card -->
